body{
    color:white
}
.image-container{   
    margin:5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    /* flex-direction: ; */
    flex-wrap: wrap;
    /* overflow-x: auto; */
}
.images{
    transition: 0.5s all ease;
}
.images:hover{
    scale: 1.02;
}
.loading-conatiner{
    font-size: 40px;
    padding-top: 5rem;
    text-align: center;
}